html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, input,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 480px) {
  .s1-display-flex-row {
    display: flex;
    flex-direction: row;
  }

  .s1-display-flex-column {
    display: flex;
    flex-direction: column;
  }

  .s1-display-block {
    display: block;
  }

  .s1-display-inline {
    display: inline;
  }

  .s1-width-10 {
    width: 10%;
  }

  .s1-width-20 {
    width: 20%;
  }

  .s1-width-30 {
    width: 30%;
  }

  .s1-width-40 {
    width: 40%;
  }

  .s1-width-50 {
    width: 50%;
  }

  .s1-width-60 {
    width: 60%;
  }

  .s1-width-70 {
    width: 70%;
  }

  .s1-width-80 {
    width: 80%;
  }

  .s1-width-90 {
    width: 90%;
  }

  .s1-width-100 {
    width: 100%;
  }

  .s1-margin-left-auto {
    margin: 0 0 0 auto;
  }

  .s1-margin-right-auto {
    margin: 0 auto 0 0;
  }

  .s1-margin-auto {
    margin: 0 auto;
  }

  .s1-justify-content-start {
    justify-content: start;
  }

  .s1-justify-content-end {
    justify-content: end;
  }

  .s1-justify-content-center {
    justify-content: center;
  }

  .s1-justify-content-between {
    justify-content: between;
  }

  .s1-justify-content-around {
    justify-content: around;
  }

  .s1-align-items-baseline {
    align-items: baseline;
  }

  .s1-align-items-center {
    align-items: center;
  }

  .s1-align-items-flex-end {
    align-items: flex-end;
  }

  .s1-align-items-start {
    align-items: flex-start;
  }

  .s1-align-items-stretch {
    align-items: stretch;
  }

  .s1-text-decoration-none {
    text-decoration: none;
  }
}
@media (min-width: 540px) {
  .s2-display-flex-row {
    display: flex;
    flex-direction: row;
  }

  .s2-display-flex-column {
    display: flex;
    flex-direction: column;
  }

  .s2-display-block {
    display: block;
  }

  .s2-display-inline {
    display: inline;
  }

  .s2-width-10 {
    width: 10%;
  }

  .s2-width-20 {
    width: 20%;
  }

  .s2-width-30 {
    width: 30%;
  }

  .s2-width-40 {
    width: 40%;
  }

  .s2-width-50 {
    width: 50%;
  }

  .s2-width-60 {
    width: 60%;
  }

  .s2-width-70 {
    width: 70%;
  }

  .s2-width-80 {
    width: 80%;
  }

  .s2-width-90 {
    width: 90%;
  }

  .s2-width-100 {
    width: 100%;
  }

  .s2-margin-left-auto {
    margin: 0 0 0 auto;
  }

  .s2-margin-right-auto {
    margin: 0 auto 0 0;
  }

  .s2-margin-auto {
    margin: 0 auto;
  }

  .s2-justify-content-start {
    justify-content: start;
  }

  .s2-justify-content-end {
    justify-content: end;
  }

  .s2-justify-content-center {
    justify-content: center;
  }

  .s2-justify-content-between {
    justify-content: between;
  }

  .s2-justify-content-around {
    justify-content: around;
  }

  .s2-align-items-baseline {
    align-items: baseline;
  }

  .s2-align-items-center {
    align-items: center;
  }

  .s2-align-items-flex-end {
    align-items: flex-end;
  }

  .s2-align-items-start {
    align-items: flex-start;
  }

  .s2-align-items-stretch {
    align-items: stretch;
  }

  .s2-text-decoration-none {
    text-decoration: none;
  }
}
@media (min-width: 720px) {
  .m1-display-flex-row {
    display: flex;
    flex-direction: row;
  }

  .m1-display-flex-column {
    display: flex;
    flex-direction: column;
  }

  .m1-display-block {
    display: block;
  }

  .m1-display-inline {
    display: inline;
  }

  .m1-width-10 {
    width: 10%;
  }

  .m1-width-20 {
    width: 20%;
  }

  .m1-width-30 {
    width: 30%;
  }

  .m1-width-40 {
    width: 40%;
  }

  .m1-width-50 {
    width: 50%;
  }

  .m1-width-60 {
    width: 60%;
  }

  .m1-width-70 {
    width: 70%;
  }

  .m1-width-80 {
    width: 80%;
  }

  .m1-width-90 {
    width: 90%;
  }

  .m1-width-100 {
    width: 100%;
  }

  .m1-margin-left-auto {
    margin: 0 0 0 auto;
  }

  .m1-margin-right-auto {
    margin: 0 auto 0 0;
  }

  .m1-margin-auto {
    margin: 0 auto;
  }

  .m1-justify-content-start {
    justify-content: start;
  }

  .m1-justify-content-end {
    justify-content: end;
  }

  .m1-justify-content-center {
    justify-content: center;
  }

  .m1-justify-content-between {
    justify-content: between;
  }

  .m1-justify-content-around {
    justify-content: around;
  }

  .m1-align-items-baseline {
    align-items: baseline;
  }

  .m1-align-items-center {
    align-items: center;
  }

  .m1-align-items-flex-end {
    align-items: flex-end;
  }

  .m1-align-items-start {
    align-items: flex-start;
  }

  .m1-align-items-stretch {
    align-items: stretch;
  }

  .m1-text-decoration-none {
    text-decoration: none;
  }
}
@media (min-width: 960px) {
  .m2-display-flex-row {
    display: flex;
    flex-direction: row;
  }

  .m2-display-flex-column {
    display: flex;
    flex-direction: column;
  }

  .m2-display-block {
    display: block;
  }

  .m2-display-inline {
    display: inline;
  }

  .m2-width-10 {
    width: 10%;
  }

  .m2-width-20 {
    width: 20%;
  }

  .m2-width-30 {
    width: 30%;
  }

  .m2-width-40 {
    width: 40%;
  }

  .m2-width-50 {
    width: 50%;
  }

  .m2-width-60 {
    width: 60%;
  }

  .m2-width-70 {
    width: 70%;
  }

  .m2-width-80 {
    width: 80%;
  }

  .m2-width-90 {
    width: 90%;
  }

  .m2-width-100 {
    width: 100%;
  }

  .m2-margin-left-auto {
    margin: 0 0 0 auto;
  }

  .m2-margin-right-auto {
    margin: 0 auto 0 0;
  }

  .m2-margin-auto {
    margin: 0 auto;
  }

  .m2-justify-content-start {
    justify-content: start;
  }

  .m2-justify-content-end {
    justify-content: end;
  }

  .m2-justify-content-center {
    justify-content: center;
  }

  .m2-justify-content-between {
    justify-content: between;
  }

  .m2-justify-content-around {
    justify-content: around;
  }

  .m2-align-items-baseline {
    align-items: baseline;
  }

  .m2-align-items-center {
    align-items: center;
  }

  .m2-align-items-flex-end {
    align-items: flex-end;
  }

  .m2-align-items-start {
    align-items: flex-start;
  }

  .m2-align-items-stretch {
    align-items: stretch;
  }

  .m2-text-decoration-none {
    text-decoration: none;
  }
}
@media (min-width: 1200px) {
  .l1-display-flex-row {
    display: flex;
    flex-direction: row;
  }

  .l1-display-flex-column {
    display: flex;
    flex-direction: column;
  }

  .l1-display-block {
    display: block;
  }

  .l1-display-inline {
    display: inline;
  }

  .l1-width-10 {
    width: 10%;
  }

  .l1-width-20 {
    width: 20%;
  }

  .l1-width-30 {
    width: 30%;
  }

  .l1-width-40 {
    width: 40%;
  }

  .l1-width-50 {
    width: 50%;
  }

  .l1-width-60 {
    width: 60%;
  }

  .l1-width-70 {
    width: 70%;
  }

  .l1-width-80 {
    width: 80%;
  }

  .l1-width-90 {
    width: 90%;
  }

  .l1-width-100 {
    width: 100%;
  }

  .l1-margin-left-auto {
    margin: 0 0 0 auto;
  }

  .l1-margin-right-auto {
    margin: 0 auto 0 0;
  }

  .l1-margin-auto {
    margin: 0 auto;
  }

  .l1-justify-content-start {
    justify-content: start;
  }

  .l1-justify-content-end {
    justify-content: end;
  }

  .l1-justify-content-center {
    justify-content: center;
  }

  .l1-justify-content-between {
    justify-content: between;
  }

  .l1-justify-content-around {
    justify-content: around;
  }

  .l1-align-items-baseline {
    align-items: baseline;
  }

  .l1-align-items-center {
    align-items: center;
  }

  .l1-align-items-flex-end {
    align-items: flex-end;
  }

  .l1-align-items-start {
    align-items: flex-start;
  }

  .l1-align-items-stretch {
    align-items: stretch;
  }

  .l1-text-decoration-none {
    text-decoration: none;
  }
}
@media (min-width: 1400px) {
  .l2-display-flex-row {
    display: flex;
    flex-direction: row;
  }

  .l2-display-flex-column {
    display: flex;
    flex-direction: column;
  }

  .l2-display-block {
    display: block;
  }

  .l2-display-inline {
    display: inline;
  }

  .l2-width-10 {
    width: 10%;
  }

  .l2-width-20 {
    width: 20%;
  }

  .l2-width-30 {
    width: 30%;
  }

  .l2-width-40 {
    width: 40%;
  }

  .l2-width-50 {
    width: 50%;
  }

  .l2-width-60 {
    width: 60%;
  }

  .l2-width-70 {
    width: 70%;
  }

  .l2-width-80 {
    width: 80%;
  }

  .l2-width-90 {
    width: 90%;
  }

  .l2-width-100 {
    width: 100%;
  }

  .l2-margin-left-auto {
    margin: 0 0 0 auto;
  }

  .l2-margin-right-auto {
    margin: 0 auto 0 0;
  }

  .l2-margin-auto {
    margin: 0 auto;
  }

  .l2-justify-content-start {
    justify-content: start;
  }

  .l2-justify-content-end {
    justify-content: end;
  }

  .l2-justify-content-center {
    justify-content: center;
  }

  .l2-justify-content-between {
    justify-content: between;
  }

  .l2-justify-content-around {
    justify-content: around;
  }

  .l2-align-items-baseline {
    align-items: baseline;
  }

  .l2-align-items-center {
    align-items: center;
  }

  .l2-align-items-flex-end {
    align-items: flex-end;
  }

  .l2-align-items-start {
    align-items: flex-start;
  }

  .l2-align-items-stretch {
    align-items: stretch;
  }

  .l2-text-decoration-none {
    text-decoration: none;
  }
}
@media (min-width: 1800px) {
  .x1-display-flex-row {
    display: flex;
    flex-direction: row;
  }

  .x1-display-flex-column {
    display: flex;
    flex-direction: column;
  }

  .x1-display-block {
    display: block;
  }

  .x1-display-inline {
    display: inline;
  }

  .x1-width-10 {
    width: 10%;
  }

  .x1-width-20 {
    width: 20%;
  }

  .x1-width-30 {
    width: 30%;
  }

  .x1-width-40 {
    width: 40%;
  }

  .x1-width-50 {
    width: 50%;
  }

  .x1-width-60 {
    width: 60%;
  }

  .x1-width-70 {
    width: 70%;
  }

  .x1-width-80 {
    width: 80%;
  }

  .x1-width-90 {
    width: 90%;
  }

  .x1-width-100 {
    width: 100%;
  }

  .x1-margin-left-auto {
    margin: 0 0 0 auto;
  }

  .x1-margin-right-auto {
    margin: 0 auto 0 0;
  }

  .x1-margin-auto {
    margin: 0 auto;
  }

  .x1-justify-content-start {
    justify-content: start;
  }

  .x1-justify-content-end {
    justify-content: end;
  }

  .x1-justify-content-center {
    justify-content: center;
  }

  .x1-justify-content-between {
    justify-content: between;
  }

  .x1-justify-content-around {
    justify-content: around;
  }

  .x1-align-items-baseline {
    align-items: baseline;
  }

  .x1-align-items-center {
    align-items: center;
  }

  .x1-align-items-flex-end {
    align-items: flex-end;
  }

  .x1-align-items-start {
    align-items: flex-start;
  }

  .x1-align-items-stretch {
    align-items: stretch;
  }

  .x1-text-decoration-none {
    text-decoration: none;
  }
}
@media (min-width: 2200px) {
  .x2-display-flex-row {
    display: flex;
    flex-direction: row;
  }

  .x2-display-flex-column {
    display: flex;
    flex-direction: column;
  }

  .x2-display-block {
    display: block;
  }

  .x2-display-inline {
    display: inline;
  }

  .x2-width-10 {
    width: 10%;
  }

  .x2-width-20 {
    width: 20%;
  }

  .x2-width-30 {
    width: 30%;
  }

  .x2-width-40 {
    width: 40%;
  }

  .x2-width-50 {
    width: 50%;
  }

  .x2-width-60 {
    width: 60%;
  }

  .x2-width-70 {
    width: 70%;
  }

  .x2-width-80 {
    width: 80%;
  }

  .x2-width-90 {
    width: 90%;
  }

  .x2-width-100 {
    width: 100%;
  }

  .x2-margin-left-auto {
    margin: 0 0 0 auto;
  }

  .x2-margin-right-auto {
    margin: 0 auto 0 0;
  }

  .x2-margin-auto {
    margin: 0 auto;
  }

  .x2-justify-content-start {
    justify-content: start;
  }

  .x2-justify-content-end {
    justify-content: end;
  }

  .x2-justify-content-center {
    justify-content: center;
  }

  .x2-justify-content-between {
    justify-content: between;
  }

  .x2-justify-content-around {
    justify-content: around;
  }

  .x2-align-items-baseline {
    align-items: baseline;
  }

  .x2-align-items-center {
    align-items: center;
  }

  .x2-align-items-flex-end {
    align-items: flex-end;
  }

  .x2-align-items-start {
    align-items: flex-start;
  }

  .x2-align-items-stretch {
    align-items: stretch;
  }

  .x2-text-decoration-none {
    text-decoration: none;
  }
}

/*# sourceMappingURL=main.css.map */
