@media (min-width: 1200px) {
	.l1-display-flex-row {
		display: flex;
		flex-direction: row;
	}
	.l1-display-flex-column {
		display: flex;
		flex-direction: column;
	}
	.l1-display-block {
		display: block;
	}
	.l1-display-inline {
		display: inline;
	}
	.l1-width-10 {
		width: 10%;
	}
	.l1-width-20 {
		width: 20%;
	}
	.l1-width-30 {
		width: 30%;
	}
	.l1-width-40 {
		width: 40%;
	}
	.l1-width-50 {
		width: 50%;
	}
	.l1-width-60 {
		width: 60%;
	}
	.l1-width-70 {
		width: 70%;
	}
	.l1-width-80 {
		width: 80%;
	}
	.l1-width-90 {
		width: 90%;
	}
	.l1-width-100 {
		width: 100%;
	}  
	.l1-margin-left-auto {
		margin: 0 0 0 auto;
	}
	.l1-margin-right-auto {
		margin: 0 auto 0 0;
	}
	.l1-margin-auto {
		margin: 0 auto;
	}
}