@media (min-width: 720px) {
	.m1-display-flex-row {
		display: flex;
		flex-direction: row;
	}
	.m1-display-flex-row-reverse {
		display: flex;
		flex-direction: row-reverse;
	}
	.m1-display-flex-column {
		display: flex;
		flex-direction: column;
	}
	.m1-display-flex-column-reverse {
		display: flex;
		flex-direction: column-reverse;
	}
	.m1-display-block {
		display: block;
	}
	.m1-display-inline {
		display: inline;
	}
	.m1-width-10 {
		width: 10%;
	}
	.m1-width-20 {
		width: 20%;
	}
	.m1-width-30 {
		width: 30%;
	}
	.m1-width-40 {
		width: 40%;
	}
	.m1-width-50 {
		width: 50%;
	}
	.m1-width-60 {
		width: 60%;
	}
	.m1-width-70 {
		width: 70%;
	}
	.m1-width-80 {
		width: 80%;
	}
	.m1-width-90 {
		width: 90%;
	}
	.m1-width-100 {
		width: 100%;
	}
	.m1-margin-auto {
		margin: 0 auto;
	}
	.m1-margin-left-auto {
		margin-left: auto;
	}
	.m1-margin-right-auto {
		margin-right: auto;
	}
	.m1-justify-content-end {
		justify-content: end;
	}
	.m1-justify-content-start {
		justify-content: start;
	}
	.m1-justify-content-center {
		justify-content: center;
	}
	.m1-justify-content-space-around {
		justify-content: space-around;
	}
	.m1-justify-content-space-between {
		justify-content: space-between;
	}
	.m1-justify-content-space-evenly {
		justify-content: space-evenly;
	}
	.m1-align-items-baseline {
		align-items: baseline;
	}
	.m1-align-items-center {
		align-items: center;
	}
	.m1-align-items-flex-start {
		align-items: flex-start;
	}
	.m1-align-items-flex-end {
		align-items: flex-end;
	}
	.m1-align-items-stretch {
		align-items: stretch;
	}
	.m1-text-decoration-none a {
		text-decoration: none;
	}
	.m1-justify-self-end {
		justify-self: end;
	}
	.m1-justify-self-start {
		justify-self: start;
	}
	.m1-justify-self-center {
		justify-self: center;
	}
	.m1-justify-self-stretch {
		justify-self: stretch;
	}
	.m1-justify-self-baseline {
		justify-self: baseline;
	}
	.m1-align-self-start {
		align-self: start;
	}
	.m1-align-self-end {
		align-self: end;
	}
	.m1-align-self-center {
		align-self: center;
	}
	.m1-align-self-stretch {
		align-self: stretch;
	}
}