@media (min-width: 1800px) {
	.x1-display-flex-row {
		display: flex;
		flex-direction: row;
	}
	.x1-display-flex-row-reverse {
		display: flex;
		flex-direction: row-reverse;
	}
	.x1-display-flex-column {
		display: flex;
		flex-direction: column;
	}
	.x1-display-flex-column-reverse {
		display: flex;
		flex-direction: column-reverse;
	}
	.x1-display-block {
		display: block;
	}
	.x1-display-inline {
		display: inline;
	}
	.x1-width-10 {
		width: 10%;
	}
	.x1-width-20 {
		width: 20%;
	}
	.x1-width-30 {
		width: 30%;
	}
	.x1-width-40 {
		width: 40%;
	}
	.x1-width-50 {
		width: 50%;
	}
	.x1-width-60 {
		width: 60%;
	}
	.x1-width-70 {
		width: 70%;
	}
	.x1-width-80 {
		width: 80%;
	}
	.x1-width-90 {
		width: 90%;
	}
	.x1-width-100 {
		width: 100%;
	}
	.x1-margin-auto {
		margin: 0 auto;
	}
	.x1-margin-left-auto {
		margin-left: auto;
	}
	.x1-margin-right-auto {
		margin-right: auto;
	}
	.x1-justify-content-end {
		justify-content: end;
	}
	.x1-justify-content-start {
		justify-content: start;
	}
	.x1-justify-content-center {
		justify-content: center;
	}
	.x1-justify-content-space-around {
		justify-content: space-around;
	}
	.x1-justify-content-space-between {
		justify-content: space-between;
	}
	.x1-justify-content-space-evenly {
		justify-content: space-evenly;
	}
	.x1-align-items-baseline {
		align-items: baseline;
	}
	.x1-align-items-center {
		align-items: center;
	}
	.x1-align-items-flex-start {
		align-items: flex-start;
	}
	.x1-align-items-flex-end {
		align-items: flex-end;
	}
	.x1-align-items-stretch {
		align-items: stretch;
	}
	.x1-text-decoration-none a {
		text-decoration: none;
	}
	.x1-justify-self-end {
		justify-self: end;
	}
	.x1-justify-self-start {
		justify-self: start;
	}
	.x1-justify-self-center {
		justify-self: center;
	}
	.x1-justify-self-stretch {
		justify-self: stretch;
	}
	.x1-justify-self-baseline {
		justify-self: baseline;
	}
	.x1-align-self-start {
		align-self: start;
	}
	.x1-align-self-end {
		align-self: end;
	}
	.x1-align-self-center {
		align-self: center;
	}
	.x1-align-self-stretch {
		align-self: stretch;
	}
	.x1-flex-wrap {
		flex-wrap: wrap;
	}
	.x1-text-align-start {
		text-align: start;
	}
	.x1-text-align-end {
		text-align: end;
	}
	.x1-text-align-left {
		text-align: left;
	}
	.x1-text-align-right {
		text-align: right;
	}
	.x1-text-align-center {
		text-align: center;
	}
	.x1-text-align-justify {
		text-align: justify;
	}
	.x1-text-align-justify-all {
		text-align: justify-all;
	}
	.x1-text-align-match-parent {
		text-align: match-parent;
	}
	.x1-resize-none {
		resize: none;
	}
	.x1-resize-both {
		resize: both;
	}
	.x1-resize-horizontal {
		resize: horizontal;
	}
	.x1-resize-vertical {
		resize: vertical;
	}
	.x1-resize-block {
		resize: block;
	}
	.x1-resize-inline {
		resize: inline;
	}
	.x1-display-inline-block {
		display: inline-block;
	}
	.x1-display-none {
		display: none;
	}
}