@media (min-width: 2200px) {
	.x2-display-flex-row {
		display: flex;
		flex-direction: row;
	}
	.x2-display-flex-column {
		display: flex;
		flex-direction: column;
	}
	.x2-display-block {
		display: block;
	}
	.x2-display-inline {
		display: inline;
	}
	.x2-width-10 {
		width: 10%;
	}
	.x2-width-20 {
		width: 20%;
	}
	.x2-width-30 {
		width: 30%;
	}
	.x2-width-40 {
		width: 40%;
	}
	.x2-width-50 {
		width: 50%;
	}
	.x2-width-60 {
		width: 60%;
	}
	.x2-width-70 {
		width: 70%;
	}
	.x2-width-80 {
		width: 80%;
	}
	.x2-width-90 {
		width: 90%;
	}
	.x2-width-100 {
		width: 100%;
	}  
	.x2-margin-left-auto {
		margin: 0 0 0 auto;
	}
	.x2-margin-right-auto {
		margin: 0 auto 0 0;
	}
	.x2-margin-auto {
		margin: 0 auto;
	}  
	.x2-justify-content-start {
		justify-content: start;
	}
	.x2-justify-content-end {
		justify-content: end;
	}
	.x2-justify-content-center {
		justify-content: center;
	}
	.x2-justify-content-space-between {
		justify-content: space-between;
	}
	.x2-justify-content-around {
		justify-content: around;
	}  
	.x2-align-items-baseline {
		align-items:baseline;
	}
	.x2-align-items-center {
		align-items: center;
	}
	.x2-align-items-flex-end {
		align-items: flex-end;
	}
	.x2-align-items-start {
		align-items: flex-start;
	}
	.x2-align-items-stretch {
		align-items: stretch;
	}
	.x2-text-decoration-none a {
		text-decoration: none;
	}
	.border1-solid-black {
		border: 1px solid black;
	}
	.border1-solid-black-top {
		border-top: 1px solid black;
	}
	.border1-solid-black-right {
		border-right: 1px solid black;
	}
	.border1-solid-black-left {
		border-left: 1px solid black;
	}
	.border1-solid-black-bottom {
		border-bottom: 1px solid black;
	}
}